name: pyslam_docker

services:
  pyslam:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    # volumes:
    #   - ./orb_slam3_ros2_wrapper/:/workspace/src/orb_slam3_ros2_wrapper/
    env_file:
      - ./.env
    privileged: true
    # network_mode: host
    ipc: host
    pid: host    
    networks:
      - pyslam_network
    stdin_open: true
    tty: true
    deploy:
      resources:
        limits:
          memory: 8g
        reservations:
          memory: 4g

networks:
  pyslam_network:
    driver: bridge
